<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>MNIST Handwritten Digit recognition using CNN</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

  <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}" />

</head>

<body>
  <div class="container">
    <div class="header clearfix">
      <h3 class="text-muted">MNIST Handwritten Digit Recognition</h3>
    </div>
    <div class="jumbotron">
      <h3 class="jumbotronHeading">Draw the digit inside this Box </h3>

      <div class="canvasDiv">
        <canvas id="canvas" width="280" height="280" style="padding-bottom: 20px">
        </canvas>
        <br />
        <p style="text-align:center;">
          <a class="btn btn-success myButton" href="#" role="button">Predict</a>
          <a class="btn btn-primary" href="#" id="clearButton" role="button">Clear</a>
        </p>
      </div>
    </div>

    <div class="jumbotron">
      <p id="result">Get your prediction here!</p>
    </div>

    <footer class="footer">
      <p>niyazed</p>
    </footer>
  </div>

  <!-- /container -->

  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="{{url_for('static',filename='index.js')}}"></script>
  <script type="text/javascript">
    $(".myButton").click(function () {
      $('#result').text('  Predicting...');
      var $SCRIPT_ROOT = {{ request.script_root| tojson | safe
    }};
    var canvasObj = document.getElementById("canvas");
    var img = canvasObj.toDataURL('image/png');
    $.ajax({
      type: "POST",
      url: $SCRIPT_ROOT + "/predict/",
      data: img,
      success: function (data) {
        $('#result').text('Predicted Output: ' + data);
      }
    });
	   		});
  </script>
</body>

</html>